﻿@using Elearning2018prj.Models
@model Elearning2018prj.Models.Etudiant

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";




}


<style>
    .cardcour {
        display: flex;
        justify-content: space-between;
    }

</style>


<div class="p-3 mb-2 bg-info text-white " style="text-align: center"><h5>Bienvenue @Model.prenom <span> </span>@Model.nom sur le site de Elearning.Decouvrez les cours disponible...</h5></div>



           

                @foreach (dynamic c in ViewBag.listCours)
                {
                    <div class="card cardcour" style="float:left;width: 18rem;  margin: 10px;">
                        <img class="card-img-top" width="100" height="175" src="~/img/imgcours/@c.imagecours" alt="@c.nomcours">
                        <div class="card-body  ">
                            <h5 class="card-title">@c.nomcours</h5>
                            <p class="card-text">
                                Découvrez le cours de<span> </span> @c.nomcours qui va exceller vos connaissances et votre productivité .
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                }
            
 
