﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    3030 Hochelaga <br />
    Montréal, Québec <br />
    H1W 1G2 <br />
    <abbr title="Phone">Téléphone :</abbr>
    +1-514-526-2501
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@elearning.ca">Support@elearning.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@elearning.ca">Marketing@elerning.ca</a>
</address>