﻿
@{
    ViewBag.Title = "LoginEnseignant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <h2>Login Etudiant</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-8 alert-success">

    </div>
    <div class="col-md-4 ">

    </div>
</div>

