﻿@model Elearning2018prj.Models.Etudiant

@{
    ViewBag.Title = "LoginStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <h2>Login Etudiant</h2>
</div>

<div class="row">
    <div class="col-md-8 alert-warning">
        <!----->
        @using (Html.BeginForm("LoginStudent","Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
      
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     
                <div class="form-group">
                    @Html.LabelFor(model => model.uname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.uname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.uname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pwd, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.pwd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pwd, "", new { @class = "text-danger" })
                    </div>
                </div>

        

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <!----->
    </div>
    <div class="col-md-4 ">
        <!----->
     
        <!----->
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
