﻿@model Elearning2018prj.Models.Etudiant

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   .pic {
       width: 100%;
       height: 100%;
   }
    .pageaction {
        float: right; 
        font-family: cursive; 
        
    }
   
</style>

<div class="container ">
    <h2>Register Etudiant</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-8 alert-success" >
        <!---------->

        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.prenom, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        @if (IsPost)
                        {
                            <h6 style="color: red;"><i>@ViewBag.Emailinfo</i></h6>
                        }
                    </div>

                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.telephone, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        
        <!---------->
      
    </div>
    

    <div class="col-md-4 " >
        <img  src="~/img/images4.jpg" alt="Student image" class="pic" /> 
    </div>

</div>



<div>
    <span class="pageaction">@Html.ActionLink("Page Home", "Index", "Home")</span> 
</div>
