﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <title>@ViewBag.title</title>
    <style>
        html, body {
            height: 100%;
        } 
         .divgestionNav {
             background: linear-gradient(to right, azure, white);
             width: 100%;
         }

        .gestionNav {
            margin: 0 auto;
        }

        .yel {
            background: beige;
        }

        a:hover {
            background: blanchedalmond;
        }
    </style>

    <script>
        $('a').hover(
            function () { $(this).toggleClass("active"); }
        );
    </script>
</head>
<body>
    <div class="divgestionNav">
        <ul class="nav nav-pills gestionNav">
            <li class="nav-item">
                <!------->
                <a class="nav-link yel" href="@Url.Action("Index","Gestionnaire")">Index Gestion</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Student</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("IndexStudent","Gestionnaire")"> Affiche Etudiants</a>
                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("","")">Supprimer Etudiant</a>
                </div>
            </li>
            <!---------------->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Enseignant</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("IndexTeacher","Gestionnaire")"> Affiche Enseignant</a>
                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("","")">Supprimer Etudiant</a>
                </div>
            </li>
            <!---------------------->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cours</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("IndexCour","Gestionnaire")"> Affiche Cours</a>
                   
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("","")">Supprimer Etudiant</a>
                </div>
            </li>
            <!---------------------->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Module</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("IndexModule","Gestionnaire")"> Affiche Module</a>
                  
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("","")">Supprimer Etudiant</a>
                </div>
            </li>
            <!---------------------->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("LoginStudent","Home")">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Register","Home")">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
            </li>

        </ul>
    </div>
    <div>
        @RenderBody()
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</body>
</html>
