﻿@model Elearning2018prj.Models.Cour

@{
    ViewBag.Title = "CreateCour";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}

<div class="p-3 mb-2   table-success" style="text-align: center; color: #800000;"><h2>Create Cour</h2></div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-9 table-success">
            <!---------------->

            @using (Html.BeginForm("CreateCour", "Gestionnaire", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.nomcours, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nomcours, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nomcours, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.prixcours, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.prixcours, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.prixcours, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.imagecours, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.imagecours, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.imagecours, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.idenseignant, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.idenseignant, new { htmlAttributes = new { min="1",@class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.idenseignant, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col">
            <div style="position: fixed; right: 10%; bottom: 10%;">
                @Html.ActionLink("Back to List", "IndexCour")
            </div>

        </div>
    </div>
</div>