﻿@model Elearning2018prj.Models.Cour

@{
    ViewBag.Title = "DeleteCour";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}

<div class="p-3 mb-2  table-danger" style="text-align: center;"><h2>Delete Cour</h2></div>

<h3>Are you sure you want to delete this?</h3>
<h3>Cour</h3>
<div class="container">
    <div class="row">
        <div class="col-9 table-primary">
            <!--------------->
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.nomcours)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nomcours)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.prixcours)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prixcours)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.imagecours)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.imagecours)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.idenseignant)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.idenseignant)
                    </dd>

                </dl>
                @using (Html.BeginForm("DeleteCour", "Gestionnaire", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />

                    </div>
                }
            </div>
            <div class="col">
                <div style="position: fixed; right: 10%; bottom: 10%;">
                    @Html.ActionLink("Back to List", "IndexCour")
                </div>

            </div>
        </div>
    </div>
</div>
