﻿@model Elearning2018prj.Models.Etudiant

@{
    ViewBag.Title = "DeleteStudent";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}

<div class="p-3 mb-2  table-danger" style="text-align: center;"><h2>Delete Etudiant</h2></div>

<h3>Are you sure you want to delete this?</h3>
<h3>Etudiant</h3>
<hr />
<div class="container">
    <div class="row">
        <div class="col-9 table-primary">
            <!--------------->


            <div>


                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.prenom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prenom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.uname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.uname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.pwd)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pwd)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.telephone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.telephone)
                    </dd>

                </dl>

                @using (Html.BeginForm("DeleteStudent", "Gestionnaire", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />

                    </div>
                }

                <!--------------->
            </div>
            <div class="col">
                <div style="position: fixed; right: 10%; bottom: 10%;">
                    @Html.ActionLink("Back to List", "IndexStudent")
                </div>

            </div>
        </div>
    </div>
</div>
