﻿@model Elearning2018prj.Models.Cour

@{
    ViewBag.Title = "DetailsCour";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}

<div class="p-3 mb-2   table-success" style="text-align: center; color: #800000;"><h2>Details Cour</h2></div>

<div class="container">
    <div class="row">
        <div class="col-9 table-primary">
            <!--------------->

            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.nomcours)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nomcours)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.prixcours)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prixcours)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.imagecours)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.imagecours)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.idenseignant)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.idenseignant)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "EditCour", new { id = Model.Idcours })

            </p>
        </div>
        <div class="col">
            <div style="position: fixed; right: 10%; bottom: 10%;">
                @Html.ActionLink("Back to List", "IndexCour")
            </div>

        </div>
    </div>
</div>