﻿@model Elearning2018prj.Models.Module

@{
    ViewBag.Title = "DetailsModule";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}

<div class="p-3 mb-2   table-success" style="text-align: center; color: #800000;"><h2>Details Cour</h2></div>

<div class="container">
    <div class="row">
        <div class="col-9 table-primary">
            <!--------------->
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.nommodule)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nommodule)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.video)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.video)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.labo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.labo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.exercise)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.exercise)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solution)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.solution)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.quiz)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.quiz)
                    </dd>
                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "EditModule", new { id = Model.Idmodule })

            </p>
        </div>
        <div class="col">
            <div style="position: fixed; right: 10%; bottom: 10%;">
                @Html.ActionLink("Back to List", "IndexModule")
            </div>

        </div>
    </div>
</div>