﻿@model Elearning2018prj.Models.Etudiant

@{
    ViewBag.Title = "DetailsStudent";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}

<div class="p-3 mb-2   table-success" style="text-align: center; color: #800000;"><h2>Details Etudiant</h2></div>

<div class="container">
    <div class="row">
        <div class="col-9 table-primary">
            <!--------------->
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.prenom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prenom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.uname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.uname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.pwd)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pwd)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.telephone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.telephone)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "EditStudent", new { id = Model.Idetudiant }) 
               
            </p>
        </div>
        <div class="col">
            <div style="position: fixed; right: 10%; bottom: 10%;">
                @Html.ActionLink("Back to List", "IndexStudent")
            </div>

        </div>
    </div>
</div>

