﻿@model IEnumerable<Elearning2018prj.Models.Cour>

@{
    ViewBag.Title = "IndexCour";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}

<style>
    th {
        background: linear-gradient(to right,antiquewhite,beige,antiquewhite)
    }

    .table tr:nth-child(even) {
        background: #F0E68C;
    }

    .table tr:nth-child(odd) {
        background: #E0FFFF;
    }
</style>

<div class="p-3 mb-2 table-success" style="color: #8b0000; text-align: center;"><h4>Index Cour</h4></div>


<p>
    @Html.ActionLink("Create New", "CreateCour")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomcours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prixcours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagecours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idenseignant)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomcours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prixcours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagecours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idenseignant)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCour", new { id=item.Idcours }) |
            @Html.ActionLink("Details", "DetailsCour", new { id=item.Idcours }) |
            @Html.ActionLink("Delete", "DeleteCour", new { id=item.Idcours })
        </td>
    </tr>
}

</table>
