﻿@model IEnumerable<Elearning2018prj.Models.Module>

@{
    ViewBag.Title = "IndexModule";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}

<style>
    th {
        background: linear-gradient(to right,antiquewhite,beige,antiquewhite)
    }

    .table tr:nth-child(even) {
        background: #F0E68C;
    }

    .table tr:nth-child(odd) {
        background: #E0FFFF;
    }
</style>

<div class="p-3 mb-2 table-success" style="color: #8b0000; text-align: center;"><h4>Index Module</h4></div>


<p>
    @Html.ActionLink("Create New", "CreateModule")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nommodule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.labo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exercise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quiz)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nommodule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.labo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exercise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quiz)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditModule", new { id=item.Idmodule }) |
            @Html.ActionLink("Details", "DetailsModule", new { id=item.Idmodule }) |
            @Html.ActionLink("Delete", "DeleteModule", new { id=item.Idmodule })
        </td>
    </tr>
}

</table>
