﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}
<!---
<h2>Index</h2>
<div class="alert alert-danger" role="alert">
    <h4>Gestion Etudiant</h4>
</div>

<div class="p-3 mb-2 bg-secondary text-white"><h2>Gestion Enseignant</h2></div>

<div class="p-3 mb-2 bg-secondary text-white"><h2>Gestion Cours</h2></div>

<div class="p-3 mb-2 bg-info text-white "><h5>Page de Gestion.</h5></div>
--->

<div class="jumbotron">
    <h1 class="display-3">Bienvenue sur la page de Gestion</h1>
    <p class="lead">.....</p>
    <hr class="my-4">
    <p>Cette page vous donne la possibilite de faire la gestion de sur les etudiants, enseignants, cours et modules.</p>
    
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <!--------->
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Gestion Des Etudiants</div>
                <div class="card-body">
                    <h4 class="card-title">Pour afficher les etudiants.</h4>
                    <p class="card-text"><a class="dropdown-item" href="@Url.Action("IndexStudent","Gestionnaire")"> Affiche Etudiants</a></p>
                </div>
            </div>
            <!---------->
        </div>
        <div class="col-sm">
            <!----------->
            <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">Gestion Des Enseignants</div>
                <div class="card-body">
                    <h4 class="card-title">Pour afficher les enseignants.</h4>
                    <p class="card-text"><a class="dropdown-item" href="@Url.Action("IndexTeacher","Gestionnaire")"> Affiche Enseignants</a></p>
                </div>
            </div>
            <!----------->
        </div>
        <div class="col-sm">
            <!-------->
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Gestion Des Cours</div>
                <div class="card-body">
                    <h4 class="card-title">Pour afficher les cours.</h4>
                    <p class="card-text"><a class="dropdown-item" href="@Url.Action("IndexCour","Gestionnaire")"> Affiche Etudiants</a></p>
                </div>
            </div>
            <!-------->
        </div>
        <div class="col-sm">
            <!----------->
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Gestion Des Modules</div>
                <div class="card-body">
                    <h4 class="card-title">Pour afficher les modules.</h4>
                    <p class="card-text"><a class="dropdown-item" href="@Url.Action("IndexStudent","Gestionnaire")"> Affiche Etudiants</a></p>
                </div>
            </div>
            <!------------>
        </div>
    </div>
</div>