﻿@model IEnumerable<Elearning2018prj.Models.Enseignant>

@{
    ViewBag.Title = "IndexTeacher";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}

<style>
    th {
        background: linear-gradient(to right,antiquewhite,beige,antiquewhite)
    }

    .table tr:nth-child(even) {
        background: #F0E68C;
    }

    .table tr:nth-child(odd) {
        background: #E0FFFF;
    }
</style>

<div class="p-3 mb-2 table-success" style="color: #8b0000; text-align: center;"><h4>Index Enseignant</h4></div>   

<p>
    @Html.ActionLink("Create New", "CreateTeacher")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTeacher", new { id=item.Idenseignant }) |
            @Html.ActionLink("Details", "DetailsTeacher", new { id=item.Idenseignant }) |
            @Html.ActionLink("Delete", "DeleteTeacher", new { id=item.Idenseignant })
        </td>
    </tr>
}

</table>
