﻿@model IEnumerable<Elearning2018prj.Models.Etudiant>

@{
    ViewBag.Title = "IndexStudent";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
}

<style>
    th {
        background:linear-gradient(to right,antiquewhite,beige,antiquewhite)
    }
    .table tr:nth-child(even) {
        background: #F0E68C;
    }
    .table tr:nth-child(odd) {
        background: #E0FFFF;
    }
</style>

<div class="p-3 mb-2 table-success" style="color: #8b0000; text-align: center;" ><h4>IndexStudent</h4></div>   
<p >
    @Html.ActionLink("Create New", "CreateStudent")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditStudent", new { id=item.Idetudiant }) |
            @Html.ActionLink("Details", "DetailsStudent", new { id=item.Idetudiant }) |
            @Html.ActionLink("Delete", "DeleteStudent", new { id=item.Idetudiant })
        </td>
    </tr>
}

</table>
