﻿.jumboCustom {
    opacity: 0.7;
    background: linear-gradient(to right, bisque, whitesmoke, beige, wheat);
}

.indexpic1 {
    width: 100%;
    height: 100%;
}
.registernow {
   
    transition: 0.8s all ease-in;
}
.registernow:hover {
   
    transform: scale(1.2);
    transition: 0.9s all ease-in-out;

}